body, html {
  margin: 0;
  height: 100%;
  width: 100%;
  background-color: #FEF5ED;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}


/* Header and navigation styling */

#header {
  position: fixed;
  width: 100%;
  z-index: 2;
}

#nav {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #99A799;
  color: #FEF5ED;
}

.nav-link {
  float: left;
}

.nav-link a {
  display: block;
  color: #FEF5ED;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 150%;
}

li a:hover {
  background-color: white;
  color: #093b09;
}

/* about me styling */
section h1 {
  font-size: 200%;
}

#dev-info {
  position: absolute;
  color: #093b09;
  left: 10%;
  top: 14%;
  width: 45%;
  z-index: 1;
}

#nathan {
  width: 40%;
 }

.my-info {
  list-style-type: none;
   
 }

#about-me {
  width: 45%;
  text-align: justify;
 }
#about-me p {
  font-size: 130%;
  word-spacing: 4px;
 }
 
 

/* Flex container and rows */
#top-page {
  position: absolute;
}

#project-container {
  display: flex;
  position: relative;
  left: 40%;
  /* top: 10%; */
  height: 100%;
  width: 45%;
  top: 7%;
  flex-direction: column;
  }
  
.row {
  object-fit: cover;
  display: flex;
  flex: 1;
}

/* Universal label styling */
.project-label {
  background-color: #093b09;
  position: absolute;
  color: #FEF5ED;
  width: 4.8%;
  font-size: 32px;
}

  /* Individual label styling */
.label-1 {
  text-decoration: none;
  top: 37%;
  left: 40%;
  z-index: 2;
}
  
.label-2 {
bottom: 26.5%;
left: 40%;
text-decoration: none;
z-index: 2;
}
  
.label-3 {
bottom: 26.5%;
left: 55%;
text-decoration: none;
z-index: 2;
}
  
.label-4 {
  bottom: 26.5%;
  right: 25%;
  text-decoration: none;
  z-index: 2;

}
  
.label-5 {
  bottom: -7%;
  left: 40%;
  text-decoration: none;
  z-index: 2;
  }
  
.label-6 {
  bottom: -7%;
  right: 32.5%;
  text-decoration: none;
  z-index: 2;
}
  
  /* Universal styling for project cards */
.item {
  background-color:#99A799;
  flex: 1;
  margin: 1%;
}

  /* Placeholder images */
.item-1 {
    background-image: url(./markus-spiske-iar-afB0QQw-unsplash.jpg);
    background-size: 100%;
}

.item-2 {
  background-image: url(./placeholder-forest.avif);
  background-size: 180%;
}

@media screen and (max-width: 992px) {  
  #project-container {
    top: 24%;
    left: 52%;
    height: 76.45%;
  }

  .nav-link {
    float: none;
    
  }

  #dev-info {
    width: 100%;
    top: 20%;
    left: 5%;
  }

  #about-me {
    position: absolute;
    font-size: 70%;
    top: 85%;
    width: 70%;
    left: 20%;
  }

  h2 {
    font-size: 80%;
  }

  .project-label {
    width: 6%;
    font-size: 100%
  }

  .label-1 {
    top: 47%;
    left: 52%;
    
  }
    
    .label-2 {
      bottom: 25%;
      left: 52%;
  }
    
    .label-3 {
    bottom: 25%;
    left: 52%;
  }
    
    .label-4 {
      bottom: 25%;
      right: 27%;
  }
    .label-5 {
    bottom: -.5%;
    left: 74.5%;
    }
    
    .label-6 {
      bottom: -.5%;
      right: 42%;
    }

}

@media screen and (max-width: 768px) {  

  
  #project-container {
    height: 75%;
    width: 70%;
    top: 30%;
    left: 15%;
  }

  h1 {
    margin-left: 18%
  }

  #contact-info {
    position: absolute;
    top: 800%;
    right: 18%;
  } 

  .contact-method {
    position: absolute;
    top: 820%;
    right: 20%;
    
  }
  
  img {
    display: none;
  }

  #about-me {
    position: absolute;
    font-size: 70%;
    top: 800%;
    width: 70%;
    left: -3%;
  }

  .project-label {
    width: 8%;
    font-size: 100%
  }

  .label-1 {
    top: 52.8%;
    left: 15%;
  }
    
    .label-2 {
      bottom: 20%;
      left: 15%;
  }
    
    .label-3 {
    bottom: 20%;
    left: 38.5%;
  }
    
    .label-4 {
      bottom: 20%;
      right: 30%;

  
  }
    .label-5 {
    bottom: -5%;
    left: 15%;
    }
    
    .label-6 {
      bottom: -5%;
      right: 42%;
    }
}
