/* Global styling */
* {
  margin: 0;
  padding: 0;
}

/* Navigation flex container */
#flex-nav {
  display: flex;
  flex-flow: row wrap;
}

/* The developers name */
body p {
  font-size: 200%;
  position: absolute;
  left: 0.1%;
}

/* Hyperlinks in navigation */
.nav-links {
  position: relative;
  list-style-type: none;
  display: inline;
  left: 87%;
  margin: 0 0.5%;
  padding-top: 0.1%;
  font-size: 200%;
  text-decoration: none;
}

/* Flex grid styling */
.flex-grid {
    display: flex;
    position: static;
    width: 70%;
    /* margin: 10% auto; */
    flex-flow: row wrap;
    justify-content: space-around;
  }

/* Card label styling */
.p-card1-label {
  position: absolute;
  left: 35%;
  top: 25.55%;
  background-color: teal;
}

.p-card2-label {
  position: absolute;
  left: 48%;
  top: 25.55%;
  background-color: teal;
}

.p-card3-label {
  position: absolute;
  left: 61%;
  top: 25.55%;
  background-color: teal;
}

.p-card4-label {
  position: absolute;
  left: 35%;
  top: 53.5%;
  background-color: teal;
}
.p-card5-label {
  position: absolute;
  left: 48%;
  top: 53.5%;
  background-color: teal;
}
.p-card6-label {
  position: absolute;
  left: 61%;
  top: 53.5%;
  background-color: teal;
}

/* Global styling for flex items */
.project-card {
  flex-basis: auto;
  flex: none;
  width: 300px;
  height: 300px;
  margin: auto;
  background-color: rgb(165, 150, 199);
}

/* Global Flex item styling */
.p-card-1,
.p-card-2,
.p-card-3,
.p-card-4,
.p-card-5,
.p-card-6 {
  justify-content: space-around;
}

/* Individual Flex item styling */
.p-card-1 {
  position: absolute;
  width: 30%;
  height: 46%;
  left: 35%;
  top: 20%;
  bottom: 58%;
}

.p-card-2 {
  position: absolute;
  height: 23%;
  width: 12%;
  right: 21%;
  top: 8%;
}

.p-card-3 {
  position: absolute;
  width: 14%;
  height: 28%;
  bottom: 14%;
  left: 35%;
}

.p-card-4 {
  position: absolute;
  width: 14%;
  height: 28%;
  bottom: 14%;
  left: 51%;
}

.p-card-5 {
  position: absolute;
  height: 23%;
  width: 12%;
  top: 27%;
  right: 21%;
}

.p-card-6 {
  position: absolute;
  height: 23%;
  width: 12%;
  bottom: 14%;
  right: 21%;
}

/* Styling for flex items 4-6 */
.p-card-4,
.p-card-5,
.p-card-6 {
  margin-top: 4%;
}

